*
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}

body
{
  padding: 1rem;
}

input
{
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

/*76. className - Clases de css*/

.card
{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card-grid
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card p
{
  padding: 5px;
  text-align: center;
}

.card img
{
  max-height: 10rem; 
}